<!DOCTYPE html>
<html>
  <head>
    <title>Railsrumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li></li>
        <li></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
